
.frame4 {
	@include devices(280) {
		margin-top: 5%;
		margin-bottom: 15%;
	}
	@include devices(1024) {
		margin-top: 12%;
	}
	@include devices(1280) {
		margin-top: 8%;
	}
	// @include devices(1440) {
	// 	margin-top: 7%;
	// }
}
.box-banner-f4 {
	position: relative;
	@include devices(280) {
		margin-top: 4%;
		margin-left: 8%;
	}
	@include devices(360) {
		margin-top: 6%;
	}
	@include devices(1024) {
		margin-left: 2%;
	}
	@include devices(1280) {
		margin-left: 0%;
	}
}
.box-banner-f4 {
	img {
		max-width: 813px;
		@include devices(280) {
			width: 90%;
			border-radius: 5px;
		}
		@include devices(1024) {
			max-width: none;
			margin-left: 5%;
		}
		@include devices(1280) {
			width: 80%;
			margin-left: 10%;
			border-radius: 10px;
		}

	}
}
.box-banner-f4 {
	.slick-prev {
		background: url(../images/frame3/arrow.png);
		background-size: 100% 100%;
		width: 20px;
   	 	height: 20px;
    	top: 50%;
    	left: -8%;
    	@include devices(414) {
    		width: 25px;
    		height: 25px;
    	}
    	@include devices(640) {
    		width: 40px;
    		height: 40px;
    	
    	}
    	@include devices(1024) {
    		width: 60px;
    		height: 60px;
    		left: 0px;
    		z-index: 1;
    	}
    	@include devices(1280) {
    		
   		 	left: -2%;
    	}
	}
	.slick-next {
		background: url(../images/frame3/arrow.png);
		background-size: 100% 100%;
		width: 20px;
   	 	height: 20px;
    	top: 50%;
    	right: 2%;
    	transform: rotate(180deg);
    	@include devices(414) {
    		width: 25px;
    		height: 25px;
    	}
    	@include devices(640) {
    		width: 40px;
    		height: 40px;
    		
    	}
    	@include devices(1024) {
    		width: 60px;
    		height: 60px;
    		right: 1%;
    		z-index: 1;
    	}
    	@include devices(1280) {
    	
   	 		right: -1%;
   	 	}
	}
	.slick-dots {
		bottom: -10%;
		width: 90%;
		@include devices(480) {
			bottom: -8%;
		}
		@include devices(1024) {
			width: 100%;
		}
		@include devices(1280) {
			width: 100%;
			bottom: -7%;
		}
	}
 	.slick-dots li
	{
	    width: 8px;
    	height: 8px;
	    margin: 0 1px;
	    @include devices(480) {
	    	width: 10px;
	    	height: 10px;
	    	margin: 0 2px;
	    }
	    @include devices(1024) {
	    	width: 15px;
	    	height: 15px;
	    }

	}
	.slick-dots li.slick-active
	{
	    color: white;
	    width: 30px;
    	height: 8px;
    	@include devices(480) {
    		width: 44px;
    		height: 10px;
    	}
    	@include devices(1024) {
    		width: 50px;
    		height: 15px;
    	}
  
	}
	.slick-dots li button:before {
		display: none;
	} 

}
.box-banner-f4:before {
	background: url(../images/frame1/bg-slide-ds.png);
	background-size: 100% 100%;
	content: '';
	position: absolute;
	@include devices(280) {
		width: 103%;
		height: 121%;
		left: -6%;
		top: -10.5%;
	}
	@include devices(640) {
		left: -6.5%;
	}
	@include devices(1024) {
		width: 100%;
		height: 126%;
		left: 0%;
		top: -13.5%;
	}
	@include devices(1280) {
		width: 90%;
    	height: 123%;
    	left: 5%;
    	top: -11.5%;
	}
}